#chessboard {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square svg {
  width: 30px;
  height: 30px;
}

.beige {
  background-color: rgb(110, 110, 98);
}

.brown {
  background-color: rgb(169, 43, 43);
}
